@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    margin: 0;
    padding: 0
}
.navbar{
    width: 1200PX;
    height: 75px;
    margin: auto;
    
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-self: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 330px;
    padding-left: 940px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: black;
    border: 1px solid #ff7200;
    margin-top: 30px;
    color: #fff;
    border-left: none;
    font-size: 16px;
    align-content: right;
    padding: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.boxx{
    display: flex;
    justify-content: space-between;
    height: fit-content;
}
#UN{
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: aqua;
    padding: 0 20px;
}
#DEUX{
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: aqua;
    padding: 0 20px;
}
#TROIS{
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: aqua;
    height: 300px;
    padding: 0 20px;
}
.boxx p{
    margin: 20px;
    border-radius: 25px;
}
.jdida{
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    
    
    border: 2px solid black;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: row;
}
.jdida img{
    padding: 20px 20px;
}